[core]
[color]
	ui = true
[user]
	name = Tomasz Wesołowski
	useconfigonly = true
[alias]
	st = status -s
	ch = checkout
	ff = pull --ff-only --prune
	ls = log --color=always --decorate --graph --date=relative \
	     --format=tformat:'%C(auto)%h%w(110,0,0)%d%C(reset) %C(white)%an, %ad%C(reset)%n%w(80,2,2)%s'
	lst  = !GIT_PAGER=smartless git ls origin/HEAD..
	lstt  = !GIT_PAGER=smartless git ls HEAD origin/HEAD --not `git merge-base HEAD origin/HEAD`^1
	wdiff = diff --color-words
	ubranch = branch --no-merged
	ldiff = diff ...MERGE_HEAD
	llog = log -p ..MERGE_HEAD
	rdiff = diff MERGE_HEAD...
	rlog = log -p MERGE_HEAD..
	ds = diff --staged
	mylog = !git log --author=$(git config user.email) --all --pretty=format:"%h%x09%ad%x09%s"
	publish = push origin HEAD -u
	trymerge = !"git merge $1 --no-commit; git merge --abort"
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	aliases = config --get-regexp alias
	email-private = config user.email kosashi@gmail.com
	email-work = config user.email kos@codility.com
	recent = !"A=$(git branch --sort=-committerdate | sed 's/[ *]//g' | fzf --reverse --height=50% --preview 'git show --color {}') && git checkout $A"
	mr = push -u origin HEAD -o merge_request.create
[push]
	default = tracking
[merge]
	confictstyle = diff3
	conflictstyle = diff3
[rebase]
	autosquash = 1
[diff]
[difftool "diffpdf"]
	cmd = diffpdf \"$LOCAL\" \"$REMOTE\"
#[url "git@gitlab.codility.net:"]
  #insteadOf = https://gitlab.codility.net/
