[core]
[color]
	ui = true
[user]
	name = Tomasz Wesołowski
	useconfigonly = true
	signingkey = 711F4669C0C3667C
[commit]
  gpgsign = true
[alias]
	st = status -s
	ch = checkout
	ff = pull --ff-only --prune
	ls = log --color=always --decorate --graph --date=relative \
	     --format=tformat:'%C(auto)%h%w(110,0,0)%d%C(reset) %C(white)%an, %ad%C(reset)%n%w(80,2,2)%s'
	lst  = !git ls origin/HEAD..
	lstt  = !git ls HEAD origin/HEAD --not `git merge-base HEAD origin/HEAD`^1
	wdiff = diff --color-words
	ubranch = branch --no-merged

	ldiff = diff ...MERGE_HEAD
	llog = log -p ..MERGE_HEAD
	rdiff = diff MERGE_HEAD...
	rlog = log -p MERGE_HEAD..
	
	mylog = !git log --author=$(git config user.email) --all --pretty=format:"%h%x09%ad%x09%s"
	publish = push origin HEAD -u
	trymerge = !"git merge $1 --no-commit; git merge --abort"
	whereami = rev-parse --abbrev-ref HEAD
	exclude-file = "!f() { relpath=$GIT_PREFIX$1; echo $relpath >> .git/info/exclude; echo 'Added' $relpath 'to' $(pwd)/.git/info/exclude; } ; f"
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	aliases = config --get-regexp alias
	email-private = config user.email kosashi@gmail.com
	email-work = config user.email kos@ro.co
	recent = !"A=$(git branch --sort=-committerdate | sed 's/[ *]//g' | fzf --reverse --height=50% --preview 'git show --color {}') && git checkout $A"
	# Gitlab
	mr = push -u origin HEAD -o merge_request.create
	# Github (via shell)
	pr = pull-request
	pb = branch --show-current
	new-branch = !git fetch && git switch --no-track origin/HEAD -c
[push]
	default = tracking
[pull]
	ff = only
[merge]
	conflictstyle = diff3
[rebase]
	autosquash = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "diffpdf"]
	cmd = diffpdf \"$LOCAL\" \"$REMOTE\"
[diff "daff-csv"]
	command = daff diff --git
[merge "daff-csv"]
	name = daff tabular csv merge
	driver = daff merge --output %A %O %A %B
